@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 14px; font-family: inherit; vertical-align: top; background: transparent; font: verdana, geneva, lucida, "lucida grande", arial, helvetica, sans-serif; }

html { font-size: 100%; }

body { margin: 0; padding: 0; font-family: "Roboto", sans-serif; }

* { margin: 0; padding: 0; outline: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

a { color: #fff; font-family: "Roboto", sans-serif; }
a:hover { text-decoration: none; }
a:active, a:hover { outline: 0; }

img { border: none; vertical-align: middle; }

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

#wrapper { position: relative; }

.container { max-width: 1140px; margin: 0 auto; }

.box { padding: 63px 0 69px; }

.big-title { font-size: 31px; color: #000e20; }
.big-title:before { content: url(../img/line.png); position: relative; margin: 0 35px 0 26px; top: -5px; }

.header { position: absolute; top: 25px; left: 0; right: 0; z-index: 111; }
.header .logo { float: left; }
.header .nav { float: left; }
.header .contact { float: right; }

.logo-img { margin-right: 10px; float: left; }
.logo-info { float: left; }
.logo-info__link { text-decoration: none; color: #00a3fb; font-size: 29px; letter-spacing: -1px; }
.logo-info__text { color: #ffffff; font-size: 11px; font-weight: 400; line-height: 14px; padding-left: 2px; font-style: italic; }

.nav { width: 741px; height: 51px; list-style: none; text-align: center; }
.nav__item { display: inline-block; margin-right: 41px; }
.nav__item.active .nav__link { color: #fcc936; }
.nav__item:hover .nav__link { color: #fcc936; }
.nav__item:last-child { margin-right: 0; }
.nav__link { text-decoration: none; line-height: 51px; font-size: 13px; }

.contact { text-align: center; }
.contact__workdays { font-size: 11px; color: #fff; opacity: 0.5; }
.contact__number { font-size: 19px; font-weight: 700; color: #fff; line-height: 16px; }
.contact__call { display: inline-block; margin-top: 4px; font-size: 15px; text-decoration: none; color: #fcc936; border-bottom: 1px dotted #fcc936; background: transparent; cursor: pointer; }
.contact__call:hover { border-bottom: none; }

.menu { display: none; float: right; height: 38px; width: 38px; border: 2px solid #ffffff; text-align: center; margin-top: 10px; padding-top: 9px; cursor: pointer; }
.menu .line { background: #fff; width: 20px; height: 2px; display: block; margin: 0 auto 5px; }
.menu .line:last-child { padding-bottom: 0; }

.call { display: none; }

sup { font-size: 8px; }

.home { min-height: 908px; background: url(../img/home-bg.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; position: relative; }
.home-title { padding: 158px 60px 0; }
.home-form { margin: 93px auto 0; }
.home .payment.none { display: none; }

.home-title { text-align: center; color: #ffffff; font-size: 72px; font-weight: 500; line-height: 72px; }
.home-title .gold { color: #fcc936; font-size: 72px; font-weight: 500; line-height: 72px; }

.home-form { width: 555px; background: #ffffff; padding: 30px 42px 36px; text-align: center; }
.home-form__title { color: #000e20; font-size: 25px; text-align: left; }
.home-form .caption { font-size: 15px; font-weight: bold; color: #000e20; }
.home-form .choice { display: flex; padding-top: 22px; text-align: left; }
.home-form .choice__tranparency { flex: 1; padding-left: 5px; }
.home-form .choice__type { flex: 1; padding-left: 5px; }
.home-form .choice .caption { padding-bottom: 16px; }
.home-form a.btn { display: inline-block; text-decoration: none; }
.home-form .area { margin-top: 21px; padding-left: 4px; }
.home-form .area .caption { float: left; line-height: 36px; }
.home-form .area__input { float: left; width: 163px; height: 36px; border-radius: 3px; border: 1px solid #e0e5ef; margin-left: 19px; position: relative; }
.home-form .area__input input[type=number] { height: 100%; width: 87px; border: none; font-size: 18px; font-weight: 500; font-family: "Roboto", sans-serif; text-align: center; -moz-appearance: textfield; }
.home-form .area__input input[type=number]:after { content: "m2"; left: 10px; top: 10px; }
.home-form .area__input input[type=number]::-webkit-outer-spin-button, .home-form .area__input input[type=number]::-webkit-inner-spin-button { -webkit-appearance: none; appearance: none; margin: 0; }

.label { display: inline-block; cursor: pointer; position: relative; margin-left: 34px; font-size: 13px; margin-bottom: 6px; line-height: 22px; }

.label:before { content: ""; display: inline-block; width: 20px; height: 20px; position: absolute; left: -32px; background: #fff; border: 1px solid #e0e5ef; border-radius: 50%; box-shadow: 3px 4px 15px 1px rgba(0, 14, 32, 0.1); }

.radio { display: none; }

.radio:checked + .label:before { content: "•"; color: #000e20; font-size: 65px; line-height: 24px; z-index: 2; }

.radio:not(:checked) + .label:before { z-index: 5; }

.minus, .plus { display: inline-block; text-align: center; font-size: 33px; line-height: 30px; color: #fff; width: 37px; height: 100%; border: 1px solid #e0e5ef; background-position: center center; background-repeat: no-repeat; background-color: #e0e5ef; cursor: pointer; }

.minus { float: left; background-image: url("../img/minus.png"); }

.plus { float: right; background-image: url("../img/plus.png"); }

.btn { padding: 16px 42px; box-shadow: 3px 5px 15px 1px rgba(252, 201, 54, 0.46); border-radius: 25px; background-color: #fcc936; font-size: 18px; color: #000e20; border: none; margin: 30px auto 0; display: block; cursor: pointer; }

.payment { position: absolute; top: 0; right: 0; left: 0; bottom: 0; background: #005dbb; z-index: 112; display: none; }
.payment .container { position: relative; }
.payment .form-info { text-align: center; padding-top: 125px; }
.payment .form-info .title { padding-top: 100px; font-size: 35px; }
.payment .form-info .form { margin-top: 20px; }
.payment .form-info .btn { display: block; margin: 20px auto 0; }
.payment .form-info .rights { float: none; }

.phone-menu { position: absolute; top: 0; right: 0; left: 0; bottom: 0; background: #005dbb; display: none; z-index: 112; }
.phone-menu .container { position: relative; }
.phone-menu .menu-list { list-style: none; padding: 89px 25px 0; }
.phone-menu .menu-list__item { border-bottom: 1px solid #0082d6; }
.phone-menu .menu-list__item:hover .menu-list__link { background-color: #fcc936; color: #000e20; }
.phone-menu .menu-list__item:hover .menu-list__link:before { content: url(../img/line.png); position: relative; margin: 0 8px 0 14px; top: -5px; }
.phone-menu .menu-list__item.active .menu-list__link { background-color: #fcc936; color: #000e20; }
.phone-menu .menu-list__item.active .menu-list__link:before { content: url(../img/line.png); position: relative; margin: 0 8px 0 14px; top: -5px; }
.phone-menu .menu-list__link { font-size: 23px; color: #fff; padding: 25px 0; text-decoration: none; display: block; }
.phone-menu .menu-list__item:last-child { border-bottom: none; }

.close { position: absolute; top: 130px; right: 190px; border: 2px solid #fff; height: 40px; width: 40px; cursor: pointer; background: url("../img/close.png") no-repeat center center; }

.advantages .big-title { padding-bottom: 56px; }
.advantages .all-advantages { display: flex; justify-content: space-between; flex-wrap: wrap; }

.all-advantages .info-box { flex-basis: 33.3%; padding-right: 120px; margin-bottom: 0; }
.all-advantages .info-box__title { display: flex; min-height: 67px; }
.all-advantages .info-box__title .title { flex-basis: 200px; }
.all-advantages .info-box__title .img { flex-basis: 30px; margin-right: 30px; min-height: 67px; }
.all-advantages .info-box__text { position: relative; top: -5px; }
.all-advantages .info-box__text p { line-height: 20px; }
.all-advantages .info-box:nth-child(-n + 3) { margin-bottom: 60px; }

.title .bold { font-weight: bold; line-height: 20px; padding-top: 8px; }

.img.bug { position: relative; top: -16px; }

.works { position: relative; }
.works .big-title { color: #ffffff; padding-bottom: 43px; }
.works .big-title:before { content: url(../img/white-line.png); }
.works .container { background-color: #005dbb; max-height: 558px; }
.works .slider { padding: 0 80px 0; }

.slide { display: flex; justify-content: space-between; float: left; }
.slide-img { flex-basis: 460px; height: 515px; padding-left: 8px; }
.slide-img img { box-shadow: 4px 6px 35px rgba(0, 93, 187, 0.36); }
.slide-info { flex-basis: 475px; }
.slide-info__block { display: flex; justify-content: space-between; padding: 5px 0; border-bottom: 1px solid #0082d6; }
.slide-info__title { flex-basis: 36%; padding-left: 8px; }
.slide-info__title p { font-size: 16px; font-weight: bold; color: #fff; }
.slide-info__title p.price { line-height: 40px; }
.slide-info__description { flex-basis: 63%; }
.slide-info__description p { font-size: 16px; color: #fff; line-height: 20px; }
.slide-info__description p.big-price { font-size: 34px; line-height: 40px; font-weight: bold; }
.slide-info__description span.small-price { position: relative; top: 4px; font-size: 16px; }
.slide-info__btn { font-size: 17px; color: #000e20; padding: 15px 40px; margin-top: 16px; box-shadow: 3px 5px 15px 1px rgba(252, 201, 54, 0.46); border-radius: 25px; background-color: #fcc936; cursor: pointer; border: none; }

.slider-switch { position: absolute; bottom: -81px; left: calc(50% + 15px); display: flex; }
.slider-switch .btn-prev-next { width: 98px; height: 50px; border: 2px solid #005dbb; display: flex; }
.slider-switch .btn-prev-next img { position: relative; top: calc(50% - 15px); left: calc(50% - 8px); }
.slider-switch .btn-prev-next .switcher-btn.prev { height: 100%; flex: 1; border-right: 2px solid #005dbb; background: #005dbb; cursor: pointer; }
.slider-switch .btn-prev-next .switcher-btn.next { height: 100%; cursor: pointer; flex: 1; }
.slider-switch .current-count { line-height: 50px; margin-left: 25px; }
.slider-switch .current-count p, .slider-switch .current-count span.current, .slider-switch .current-count span.count { font-size: 29px; font-style: italic; color: #005dbb; }

.slick-list { overflow: hidden; }

.slick-prev { position: absolute; bottom: -81px; left: calc(50% + 15px); z-index: 11111; width: 50px; height: 50px; opacity: 0; cursor: pointer; }

.slick-next { position: absolute; bottom: -81px; left: calc(50% + 65px); z-index: 11111; width: 50px; height: 50px; opacity: 0; cursor: pointer; }

.rates.box { padding-top: 210px; }
.rates .big-title { padding-bottom: 49px; }
.rates .slider-switch { display: none; }

.rates-info { display: flex; justify-content: space-between; }
.rates-info__left, .rates-info__right { flex-basis: 555px; padding: 40px 68px 0 98px; border: 2px solid #005dbb; text-align: center; }
.rates-info__left { background: #ffffff; }
.rates-info__right { background: #005dbb; }

.rates-title { font-size: 31px; padding-bottom: 17px; }

.rates-title.white { color: #fff; }

.rates-list { list-style: none; margin-bottom: 20px; text-align: left; }
.rates-list__item { position: relative; margin-bottom: 10px; }
.rates-list__item:before { content: "—"; color: #005dbb; font-size: 16px; position: absolute; left: -33px; }
.rates-list__item:last-child { margin-bottom: 0; }
.rates-list__text { font-size: 16px; }

.rates-list.white .rates-list__text { color: #fff; }
.rates-list.white .rates-list__item:before { color: #fff; }

.rates-price { margin-bottom: 8px; }
.rates-price .price-text { font-size: 18px; font-weight: 500; color: #005dbb; line-height: 41px; }
.rates-price .price-sum { font-size: 34px; font-weight: 500; color: #005dbb; padding-left: 10px; }
.rates-price .price-sum sub { position: relative; bottom: -15px; font-size: 18px; left: -7px; }

.rates-price.white .price-text { color: #ffffff; }
.rates-price.white .price-sum { color: #fff; }

.rates-btn { font-size: 17px; color: #000e20; margin-bottom: 62px; padding: 15px 40px; box-shadow: 3px 5px 15px 1px rgba(252, 201, 54, 0.46); border-radius: 25px; background-color: #fcc936; cursor: pointer; border: none; }

.products .big-title { color: #ffffff; padding-bottom: 41px; }
.products .big-title:before { content: url(../img/white-line.png); }
.products .container.box { background: #005dbb; padding: 56px 0 86px; }

.all-products { padding: 0 93px 0 87px; }
.all-products__block { margin-bottom: 10px; }
.all-products__block:last-child.all-products__img { float: right; }
.all-products__img { float: left; margin-right: 9px; position: relative; }
.all-products__img.big { margin-right: 11px; }
.all-products__img.right { right: 2px; float: right; }
.all-products__img:last-child { margin-right: 0; }
.all-products__img:hover .img-hover { display: block; background: rgba(255, 255, 255, 0.85); }
.all-products__moreinfo { float: left; }
.all-products__moreinfo p { color: #fff; font-size: 17px; font-weight: bold; padding-top: 52px; line-height: 35px; }
.all-products__moreinfo button.btn { margin: 17px 0 0 0; }

.img-hover { display: none; position: absolute; top: 0; right: 0; bottom: 0; left: 0; text-align: center; }
.img-hover p { font-size: 17px; font-weight: 500; padding-top: 59px; }
.img-hover button.btn { margin: 14px auto 0; }

.accord-header { display: none; cursor: pointer; }
.accord-header p { font-size: 17px; color: #fff; font-weight: 600; }
.accord-header:after { content: url(../img/plus.png); position: absolute; right: 19px; top: 16px; }

.reviews.box { padding-top: 70px; }
.reviews .big-title { padding-bottom: 48px; }
.reviews-slide { margin-bottom: 33px; overflow: hidden; }
.reviews-slide::-webkit-scrollbar-thumb { width: 500px; }

@-moz-document url-prefix() { .reviews-slide { margin-bottom: 35px; } }
.review-view { list-style: none; }
.review-view__item { float: left; width: 555px; margin-right: 29px; padding: 27px 48px 30px 31px; border: 2px solid #005dbb; }
.review-view__item p.review-title { font-size: 17px; font-weight: bold; padding-bottom: 8px; }
.review-view__item p.review-text { font-size: 17px; line-height: 22px; }
.review-view__item:last-child { margin-right: 0; }

.reviews-line { width: 100%; height: 2px; background: #ddd; }

.reviews-hand { margin-top: 19px; text-align: center; }
.reviews-hand__img { padding-right: 8px; }
.reviews-hand__text { font-size: 16px; color: #005dbb; line-height: 46px; }

.hide-text { display: none; position: absolute; bottom: 10px; cursor: pointer; font-size: 15px; font-weight: 600; color: #fcc936; border: none; background: #fff; z-index: 4; }
.hide-text:before { content: url("../img/gold-plus.png"); position: relative; top: 2px; margin-right: 10px; }

.white-grain { position: absolute; display: none; top: 70%; right: 0; left: 0; bottom: 0; z-index: 3; background-image: linear-gradient(to top, #ffffff 0%, #ffffff 12%, rgba(255, 255, 255, 0) 100%); }

.footer-form { text-align: center; margin-bottom: 68px; }
.footer-form .container { position: relative; }
.footer-form .form-info { min-height: 379px; background: url(../img/footer-form.png) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; box-shadow: 0 0 35px rgba(0, 93, 187, 0.31); }
.footer-form .grain { background: #005dbb; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: -1; }

.form-info { padding: 0 90px; }
.form-info .title { font-size: 46px; font-weight: 500; color: #fff; padding-top: 81px; }
.form-info .form { margin-top: 43px; }
.form-info .input { width: 300px; margin-right: 8px; padding: 13px 25px; font-size: 17px; }
.form-info .input::-webkit-input-placeholder { font-size: 17px; color: #000e20; font-family: "Roboto", sans-serif; font-weight: 300; }
.form-info .input::-moz-placeholder { font-size: 17px; color: #000e20; font-family: "Roboto", sans-serif; font-weight: 300; }
.form-info .input:-ms-input-placeholder { font-size: 17px; color: #000e20; font-family: "Roboto", sans-serif; font-weight: 300; }
.form-info .btn { display: inline; margin: 0; font-size: 17px; padding: 14px 42px 15px 42px; }
.form-info .rights { font-size: 10px; color: #fff; float: right; padding: 10px 30px 0 0; }
.form-info .rights a { font-size: 10px; text-decoration: none; border-bottom: 1px dotted #fff; }
.form-info .rights a:hover { border-bottom: none; }

.footer .container { padding: 52px 41px 16px; border-top: 2px solid #005dbb; border-right: 2px solid #005dbb; border-left: 2px solid #005dbb; }
.footer .footer-info { padding-bottom: 32px; }
.footer .logo { margin-right: 120px; float: left; }
.footer .logo-info__text { color: #000e20; }
.footer .address { margin-right: 70px; }
.footer .work-hours { margin-right: 80px; }
.footer .footer-img { margin-right: 7px; }

.address, .work-hours, .back-to { float: left; }
.address .text, .work-hours .text, .back-to .text { font-size: 15px; line-height: 20px; }
.address .link, .work-hours .link, .back-to .link { display: inline-block; margin-top: 8px; font-size: 15px; color: #000e20; }

.address__img, .address__text { float: left; }

.work-hours__img, .work-hours__text { float: left; }

.back-to__img, .back-to__text { float: left; }

.back-to__text a { color: #000e20; text-decoration: none; }

.back-to { cursor: pointer; }
.back-to .text { line-height: 32px; }

.privacy-policy { float: left; color: #000e20; font-size: 13px; position: absolute; }

.copyright { font-size: 13px; color: #000e20; text-align: center; }

#wrapper.blue { background-color: #005dbb; }

.success { height: 100vh; padding: 200px 0 0; }
.success-info { padding-bottom: 60px; }

.success-info { text-align: center; }
.success-info .title, .success-info .gold { font-size: 34px; font-weight: 500; color: #fff; padding-bottom: 42px; }
.success-info .text { font-size: 23px; padding-bottom: 35px; color: #fff; }
.success-info .gold { color: #fcc936; }
.success-info .btn { text-decoration: none; display: inline-block; }

.success-footer { border: 2px solid #fff; padding: 50px 40px; display: flex; justify-content: space-between; flex-wrap: wrap; }
.success-footer .logo, .success-footer .address, .success-footer .work-hours, .success-footer .copyright-info { flex-basis: 25%; }
.success-footer .logo-info__link { color: #fff; }
.success-footer .logo__img { margin-right: 10px; }
.success-footer .address__img { margin-right: 10px; }
.success-footer .work-hours__img { margin-right: 10px; }
.success-footer .text, .success-footer .privacy-policy, .success-footer .copyright, .success-footer .link { color: #fff; text-align: left; }
.success-footer .privacy-policy { display: block; position: relative; float: none; padding-bottom: 18px; }
