// settings ------------------------------------------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i')

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
    margin: 0
    padding: 0
    border: 0
    outline: 0
    font-weight: inherit
    font-style: inherit
    font-size: 14px
    font-family: inherit
    vertical-align: top
    background: transparent
    font: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif

html
    font-size: 100%

body
    margin: 0
    padding: 0
    font-family: 'Roboto', sans-serif

*
    margin: 0
    padding: 0
    outline:  none

    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

a
    color: #fff
    font-family: 'Roboto', sans-serif
    &:hover
        text-decoration: none
        background: none
    &:active, &:hover
        outline: 0

img
    border: none
    vertical-align: middle


.clearfix
    &:before, &:after
        content: " "
        display: table
    &:after
        clear: both

#wrapper
    position: relative

.container
    max-width: 1140px
    margin: 0 auto

.box
    padding: 63px 0 69px

.big-title
    font-size: 31px
    color: #000e20
    &:before
        content: '\2014'
        position: relative
        margin: 0 35px 0 26px
// settings end --------------------------------------------------------------------------------------------------------

// header --------------------------------------------------------------------------------------------------------------
.header
    position: absolute
    top: 25px
    left: 0
    right: 0
    .logo
        float: left
    .nav
        float: left
    .contact
        float: right

.logo
    &-img
        margin-right: 10px
        float: left
    &-info
        float: left
        &__link
            text-decoration: none
            color: #00a3fb
            font-size: 29px
            letter-spacing: -1px
        &__text
            color: #ffffff
            font-size: 11px
            font-weight: 400
            line-height: 14px
            padding-left: 2px
            font-style: italic

.nav
    width: 741px
    height: 51px
    list-style: none
    text-align: center
    &__item
        display: inline-block
        margin-right: 41px
    &__item.active .nav__link
        color: #fcc936
    &__item:hover .nav__link
        color: #fcc936
    &__item:last-child
        margin-right: 0
    &__link
        text-decoration: none
        line-height: 51px
        font-size: 13px

.contact
    text-align: center
    &__workdays
        font-size: 11px
        color: #fff
        opacity: 0.5
    &__number
        font-size: 19px
        font-weight: 700
        color: #fff
        line-height: 16px
    &__call
        display: inline-block
        margin-top: 4px
        font-size: 15px
        text-decoration: none
        color: #fcc936
        border-bottom: 1px dotted #fcc936
        background: transparent
        cursor: pointer
    &__call:hover
        border-bottom: none

sup
    font-size: 8px
// header end ----------------------------------------------------------------------------------------------------------

// home ----------------------------------------------------------------------------------------------------------------
.home
    min-height: 908px
    background: url(../img/home-bg.jpg) no-repeat center center
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
    &-title
        padding-top: 158px
    &-form
        margin: 93px auto 0

.home-title
    text-align: center
    color: #ffffff
    font-size: 72px
    font-weight: 600
    line-height: 72px
    .gold
        color: #fcc936
        font-size: 72px
        font-weight: 600
        line-height: 72px

.home-form
    width: 555px
    height: 345px
    background: #ffffff
    padding: 30px 42px 0
    &__title
        color: #000e20
        font-size: 24px
    .caption
        font-size: 15px
        font-weight: bold
        color: #000e20
    .choice
        display: flex
        padding-top: 22px
        &__tranparency
            flex: 1
            padding-left: 5px
        &__type
            flex: 1
            padding-left: 5px
        .caption
            padding-bottom: 16px
    .area
        margin-top: 21px
        padding-left: 4px
        .caption
            float: left
            line-height: 36px
        &__input
            float: left
            width: 163px
            height: 36px
            border-radius: 3px
            border: 1px solid #e0e5ef
            margin-left: 19px
            position: relative
            input[type=number]
                height: 100%
                width: 87px
                border: none
                font-size: 18px
                font-weight: 500
                font-family: 'Roboto', sans-serif
                text-align: center
                -moz-appearance: textfield
            input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button
                -webkit-appearance: none
                appearance: none
                margin: 0

.label
    display: inline-block
    cursor: pointer
    position: relative
    margin-left: 34px
    font-size: 13px
    margin-bottom: 6px
    line-height: 22px
.label:before
    content: ''
    display: inline-block
    width: 20px
    height: 20px
    position: absolute
    left: -32px
    background: #fff
    border: 1px solid #e0e5ef
    border-radius: 50%
    box-shadow: 3px 4px 15px 1px rgba(0, 14, 32, 0.1)

.radio
    display: none
.radio:checked + .label:before
    content: "\2022"
    color: #000e20
    font-size: 65px
    line-height: 24px
    z-index: 2
.radio:not(:checked) + .label:before
    z-index: 5

.minus, .plus
    display: inline-block
    text-align: center
    font-size: 33px
    line-height: 30px
    color: #fff
    width: 37px
    height: 100%
    border: 1px solid #e0e5ef
    background-position: center center
    background-repeat: no-repeat
    background-color: #e0e5ef
    cursor: pointer

.minus
    float: left
    background-image: url("../img/minus.png")

.plus
    float: right
    background-image: url("../img/plus.png")

.btn
    padding: 16px 42px
    box-shadow: 3px 5px 15px 1px rgba(252, 201, 54, 0.46)
    border-radius: 25px
    background-color: #fcc936
    font-size: 18px
    color: #000e20
    border: none
    margin: 30px auto 0
    display: block
    cursor: pointer

.home-phone
    display: none
// home end ------------------------------------------------------------------------------------------------------------

// advantages -----------------------------------------------------------------------------------------------------------
.advantages
    .big-title
        padding-bottom: 56px
    .all-advantages
        display: flex
        justify-content: space-between
        flex-wrap: wrap

.all-advantages
    .info-box
        flex-basis: 33.3%
        padding-right: 120px
        margin-bottom: 0
        &__title
            display: flex
            min-height: 67px
            .title
                flex-basis: 200px
            .img
                flex-basis: 30px
                margin-right: 30px
                min-height: 67px
        &__text
            position: relative
            top: -5px
            p
                line-height: 20px
    .info-box:nth-child(-n + 3)
        margin-bottom: 60px

.title .bold
    font-weight: bold
    line-height: 20px
    padding-top: 8px

.img.bug
    position: relative
    top: -16px
// advantages end -------------------------------------------------------------------------------------------------------

// works ---------------------------------------------------------------------------------------------------------------
.works
    position: relative
    .big-title
        color: #ffffff
        padding-bottom: 43px
    .container
        background-color: #005dbb
        max-height: 558px
    .slider
        padding: 0 80px 0

.slide
    display: flex
    justify-content: space-between
    float: left
    &-img
        flex-basis: 460px
        height: 515px
        padding-left: 8px
        img
            box-shadow: 4px 6px 35px rgba(0, 93, 187, 0.36)
    &-info
        flex-basis: 475px
        &__block
            display: flex
            justify-content: space-between
            padding: 5px 0
            border-bottom: 1px solid #0082d6
        &__title
            flex-basis: 36%
            padding-left: 8px
            p
                font-size: 16px
                font-weight: bold
                color: #fff
            p.price
                line-height: 40px
        &__description
            flex-basis: 63%
            p
                font-size: 16px
                color: #fff
                line-height: 20px
            p.big-price
                font-size: 34px
                line-height: 40px
                font-weight: bold
            span.small-price
                position: relative
                top: 4px
                font-size: 16px
        &__btn
            font-size: 17px
            color: #000e20
            padding: 15px 40px
            margin-top: 16px
            box-shadow: 3px 5px 15px 1px rgba(252, 201, 54, 0.46)
            border-radius: 25px
            background-color: #fcc936
            cursor: pointer
            border: none

.slider-switch
    position: absolute
    bottom: -81px
    left: calc(50% + 15px)
    display: flex
    .btn-prev-next
        width: 98px
        height: 50px
        border: 2px solid #005dbb
        display: flex
        img
            position: relative
            top: calc(50% - 15px)
            left: calc(50% - 8px)
        .switcher-btn.prev
            height: 100%
            flex: 1
            border-right: 2px solid #005dbb
            background: #005dbb
            cursor: pointer
        .switcher-btn.next
            height: 100%
            cursor: pointer
            flex: 1
    .current-count
        line-height: 50px
        margin-left: 25px
        p, span.current, span.count
            font-size: 29px
            font-style: italic
            color: #005dbb

.slick-list
    overflow: hidden
.slick-prev
    position: absolute
    bottom: -81px
    left: calc(50% + 15px)
    z-index: 11111
    width: 50px
    height: 50px
    opacity: 0
    cursor: pointer

.slick-next
    position: absolute
    bottom: -81px
    left: calc(50% + 65px)
    z-index: 11111
    width: 50px
    height: 50px
    opacity: 0
    cursor: pointer
// works end -----------------------------------------------------------------------------------------------------------

// rates ---------------------------------------------------------------------------------------------------------------
.rates
    &.box
        padding-top: 210px
    .big-title
        padding-bottom: 49px
    .slider-switch
        display: none

.rates-info
    display: flex
    justify-content: space-between
    &__left, &__right
        flex-basis: 555px
        padding: 40px 68px 0 98px
        border: 2px solid #005dbb
        text-align: center
    &__left
        background: #ffffff
    &__right
        background: #005dbb

.rates-title
    font-size: 31px
    padding-bottom: 17px

.rates-title.white
    color: #fff

.rates-list
    list-style: none
    margin-bottom: 20px
    text-align: left
    &__item
        position: relative
        margin-bottom: 10px
    &__item:before
        content: "—"
        color: #005dbb
        font-size: 16px
        position: absolute
        left: -33px
    &__item:last-child
        margin-bottom: 0
    &__text
        font-size: 16px

.rates-list.white
    & .rates-list__text
        color: #fff
    & .rates-list__item:before
        color: #fff


.rates-price
    margin-bottom: 8px
    .price-text
        font-size: 18px
        font-weight: 500
        color: #005dbb
        line-height: 41px
    .price-sum
        font-size: 34px
        font-weight: 500
        color: #005dbb
        padding-left: 10px
        sub
            position: relative
            bottom: -15px
            font-size: 18px
            left: -7px

.rates-price.white
    & .price-text
        color: #ffffff
    & .price-sum
        color: #fff

.rates-btn
    font-size: 17px
    color: #000e20
    margin-bottom: 62px
    padding: 15px 40px
    box-shadow: 3px 5px 15px 1px rgba(252, 201, 54, 0.46)
    border-radius: 25px
    background-color: #fcc936
    cursor: pointer
    border: none
// rates end -----------------------------------------------------------------------------------------------------------

// add products --------------------------------------------------------------------------------------------------------
.products
    .big-title
        color: #ffffff
        padding-bottom: 41px
    .container.box
        background: #005dbb
        padding: 56px 0 86px

.all-products
    padding: 0 93px 0 87px
    &__block
        margin-bottom: 10px
    &__block:last-child
        &.all-products__img
            float: right
    &__img
        float: left
        margin-right: 9px
        position: relative
    &__img.big
        margin-right: 11px
    &__img.right
        right: 2px
        float: right
    &__img:last-child
        margin-right: 0
    &__img:hover .img-hover
        display: block
        background: rgba(255, 255, 255, 0.85)
    &__moreinfo
        float: left
        & p
            color: #fff
            font-size: 17px
            font-weight: bold
            padding-top: 52px
            line-height: 35px
        & button.btn
            margin: 17px 0 0 0

.img-hover
    display: none
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    text-align: center
    & p
        font-size: 17px
        font-weight: 500
        padding-top: 59px
    & button.btn
        margin: 14px auto 0
// add products end ----------------------------------------------------------------------------------------------------

// reviews -------------------------------------------------------------------------------------------------------------
.reviews
    &.box
        padding-top: 70px
    .big-title
        padding-bottom: 48px
    &-slide
        margin-bottom: 33px
        overflow: hidden
    &-slide::-webkit-scrollbar-thumb
        width: 500px

@-moz-document url-prefix()
    .reviews-slide
        margin-bottom: 35px

.review-view
    list-style: none
    &__item
        float: left
        width: 555px
        margin-right: 29px
        padding: 27px 48px 30px 31px
        border: 2px solid #005dbb
        & p.review-title
            font-size: 17px
            font-weight: bold
            padding-bottom: 8px
        & p.review-text
            font-size: 17px
            line-height: 22px
    &__item:last-child
        margin-right: 0

.reviews-line
    width: 100%
    height: 2px
    background: #ddd

.reviews-hand
    margin-top: 19px
    text-align: center
    &__img
        padding-right: 8px
    &__text
        font-size: 16px
        color: #005dbb
        line-height: 46px
// reviews end ---------------------------------------------------------------------------------------------------------

// footer-form ---------------------------------------------------------------------------------------------------------
.footer-form
    text-align: center
    margin-bottom: 68px
    & .container
        position: relative
    .form-info
        min-height: 379px
        background: url(../img/footer-form.png) no-repeat center center
        -webkit-background-size: cover
        -moz-background-size: cover
        -o-background-size: cover
        background-size: cover
        box-shadow: 0 0 35px rgba(0, 93, 187, 0.31)
    .grain
        background: #005dbb
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        z-index: -1

.form-info
    padding: 0 90px
    .title
        font-size: 46px
        font-weight: 500
        color: #fff
        padding-top: 81px
    .form
        margin-top: 43px
    .input
        width: 300px
        margin-right: 8px
        padding: 13px 25px
        font-size: 17px
    .input::-webkit-input-placeholder
        font-size: 17px
        color: #000e20
        font-family: 'Roboto', sans-serif
        font-weight: 300
    .input::-moz-placeholder
        font-size: 17px
        color: #000e20
        font-family: 'Roboto', sans-serif
        font-weight: 300
    .input:-ms-input-placeholder
        font-size: 17px
        color: #000e20
        font-family: 'Roboto', sans-serif
        font-weight: 300
    .btn
        display: inline
        margin: 0
        font-size: 17px
        padding: 14px 42px 15px 42px
    .rights
        font-size: 10px
        color: #fff
        float: right
        padding: 10px 30px 0 0
        a
            font-size: 10px
            text-decoration: none
            border-bottom: 1px dotted #fff
        a:hover
            border-bottom: none
// footer-form end -----------------------------------------------------------------------------------------------------

//footer ---------------------------------------------------------------------------------------------------------------
.footer
    .container
        padding: 52px 41px 16px
        border-top: 2px solid #005dbb
        border-right: 2px solid #005dbb
        border-left: 2px solid #005dbb
    .footer-info
        padding-bottom: 32px
    .logo
        margin-right: 120px
        float: left
        &-info__text
            color: #000e20
    .address
        margin-right: 70px
    .work-hours
        margin-right: 80px
    .footer-img
        margin-right: 7px

.address, .work-hours, .back-to
    float: left
    .text
        font-size: 15px
        line-height: 20px
    .link
        display: inline-block
        margin-top: 8px
        font-size: 15px
        color: #000e20

.address__img, .address__text
    float: left
.work-hours__img, .work-hours__text
    float: left
.back-to__img, .back-to__text
    float: left
.back-to
    cursor: pointer
    .text
        line-height: 32px

.privacy-policy
    float: left
    color: #000e20
    font-size: 13px
    position: absolute

.copyright
    font-size: 13px
    color: #000e20
    text-align: center

//footer end -----------------------------------------------------------------------------------------------------------