/*Set */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 14px;
  font-family: inherit;
  vertical-align: top;
  background: transparent;
  font: verdana, geneva, lucida, "lucida grande", arial, helvetica, sans-serif; }

html {
  font-size: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, "Helvetica Neue", sans-serif; }

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: #fff;
  font: 14px Maryad Pro, sans-serif; }
  a:hover {
    text-decoration: none;
    background: none; }
  a:active, a:hover {
    outline: 0; }

img {
  border: none;
  vertical-align: middle; }

ul {
  list-style: none; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.center {
  text-align: center; }

.i-block {
  display: inline-block; }

.left {
  float: left; }

.right {
  float: right; }

/*Set */
/*HOME page===================================== */
.container {
  padding: 0 30px;
  margin: 0 auto; }

.grain {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999;
  pointer-events: none; }
  .grain:after {
    -webkit-animation: grain 0.5s steps(1) infinite;
    -moz-animation: grain 0.5s steps(1) infinite;
    animation: grain 0.5s steps(1) infinite;
    position: absolute;
    top: -50%;
    left: -50%;
    height: 200%;
    width: 200%;
    background: url(../img/grain.jpg) center center no-repeat;
    background-size: cover;
    content: "";
    opacity: 0.05; }

.about {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  background: #172120;
  z-index: 100;
  opacity: 0.99;
  padding-top: 20px; }
  .about .about-info {
    max-width: 550px;
    margin: 70px auto 30px;
    text-align: center; }
    .about .about-info h5 {
      padding-bottom: 20px;
      color: #fff;
      text-align: center;
      font-size: 9px;
      letter-spacing: 5px;
      text-transform: uppercase; }
    .about .about-info h3 {
      padding-bottom: 50px;
      color: #fff;
      font-size: 40px;
      font-weight: bold;
      font-family: Eksell, Georgia, Times, serif; }
    .about .about-info p {
      text-align: justify;
      font-size: 18px;
      line-height: 24px; }

.about-back {
  float: right;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-border: 1px solid #fff;
  -moz-border: 1px solid #fff;
  -o-border: 1px solid #fff;
  border: 1px solid #fff; }
  .about-back i {
    position: relative;
    margin-top: 18px;
    left: 50%;
    margin-left: -7px; }

.search {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  background: #172120;
  z-index: 100;
  opacity: 0.99;
  padding-top: 20px; }
  .search .search-info {
    margin: 100px 100px 50px;
    border-bottom: 2px dotted rgba(255, 255, 255, 0.4); }
    .search .search-info h5 {
      text-transform: uppercase;
      letter-spacing: 5px;
      padding-bottom: 100px; }
    .search .search-info input[type="text"] {
      padding: 10px 10px 50px 10px;
      font-size: 100px;
      font-weight: bold;
      font-family: Eksell, Georgia, Times, serif;
      background: none;
      border: none;
      color: #fff; }
  .search .search-list {
    margin: 0 100px 50px; }
  .search .hero-list {
    list-style: none; }
    .search .hero-list li {
      display: none;
      float: left;
      width: 33.3%;
      height: 250px;
      text-align: center;
      transition: background-color 0.15s;
      background-color: rgba(255, 255, 255, 0.15);
      border-color: #000;
      border-style: solid;
      border-width: 1px 1px 0 0; }
      .search .hero-list li:hover {
        background-color: rgba(255, 255, 255, 0.45); }
      .search .hero-list li a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0 20px;
        color: #fff;
        line-height: 250px;
        font-size: 56px;
        font-weight: bold;
        text-decoration: none;
        font-family: Eksell, Georgia, Times, serif; }

#wrapper {
  background: #172120; }

#home {
  display: none;
  height: 100vh; }
  #home h1 {
    color: #fff;
    font-size: 100px;
    font-family: Eksell, Georgia, Times, serif;
    padding-top: 50px;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    text-transform: uppercase; }
  #home h5 {
    color: #fff;
    font-size: 35px;
    padding-top: 400px; }
  #home p {
    padding-top: 15px;
    color: #FFE0B2;
    font-size: 16px;
    margin-bottom: 3.125em; }

.btn {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-border: 1px solid rgba(255, 224, 178, 0.4);
  -moz-border: 1px solid rgba(255, 224, 178, 0.4);
  -o-border: 1px solid rgba(255, 224, 178, 0.4);
  border: 1px solid rgba(255, 224, 178, 0.4);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
  color: #FFE0B2;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  letter-spacing: 4px;
  padding: 10px 10px 10px 14px;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  text-decoration: none; }
  .btn:hover {
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.3); }

/*HEADER===================================== */
#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #172120;
  z-index: 6; }

.header-separator, .header-secondSeparator {
  background: #131918;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
  .header-separator .settings, .header-secondSeparator .settings {
    color: white;
    line-height: 30px; }
  .header-separator a, .header-secondSeparator a {
    display: inline-block;
    text-decoration: none; }
  .header-separator h5, .header-secondSeparator h5 {
    color: #fff;
    line-height: 30px;
    font-size: 24px;
    font-family: Eksell, Georgia, Times, serif;
    font-weight: bold;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    text-transform: uppercase; }
  .header-separator span, .header-secondSeparator span {
    color: #fff;
    letter-spacing: 3px;
    font-size: 9px;
    text-transform: uppercase; }
  .header-separator .active, .header-secondSeparator .active {
    color: #FFE0B2; }

.header-secondSeparator {
  padding: 5px 0;
  background: #172120; }

.pointer {
  cursor: pointer; }

/*CONTENT index===================================== */
#content {
  background: #142a28;
  margin-top: 92px; }

.switch {
  padding: 20px 0 14px;
  color: #fff;
  border-bottom: 2px dotted rgba(255, 255, 255, 0.4); }
  .switch .toggle {
    height: 10px;
    margin: 0 15px 0 65px;
    display: inline-block;
    pointer-events: none; }
    .switch .toggle .toggle-switch {
      background-color: rgba(255, 255, 255, 0.8);
      border: 0;
      border-radius: 50%;
      box-shadow: none;
      height: 10px;
      width: 10px;
      left: 33px;
      right: auto;
      top: -1px; }
    .switch .toggle .toggle-bg {
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.4);
      height: 6px;
      top: 1px; }

.marvel {
  position: absolute;
  cursor: pointer;
  font-size: 9px;
  letter-spacing: 3px;
  text-transform: uppercase;
  float: left; }

.dc {
  position: absolute;
  cursor: pointer;
  font-size: 9px;
  letter-spacing: 3px;
  text-transform: uppercase;
  float: left; }

.list li {
  opacity: 0.95;
  transition: opacity 0.5s ease-in-out, text-shadow 1s ease-in-out, color 0.5s ease-in-out; }
.list a {
  transition: opacity 1s ease-in-out, text-shadow 1s ease-in-out, color 1s ease-in-out;
  color: transparent;
  font-size: 100px;
  font-weight: bold;
  font-family: Eksell, Georgia, Times, serif;
  opacity: 0.95;
  text-shadow: 0 0 1.5px #fff;
  text-decoration: none;
  letter-spacing: -2px;
  line-height: 157px;
  text-transform: capitalize; }
.list i {
  transition: opacity 1s ease-in-out, text-shadow 1s ease-in-out, color 1s ease-in-out;
  font-size: 0.3em;
  position: absolute;
  color: transparent;
  text-shadow: 0 0 1.5px #fff;
  opacity: 0.95;
  right: 25px;
  line-height: 157px; }

.num {
  -webkit-transition: opacity 1s ease-in-out, text-shadow 1s ease-in-out, color 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out, text-shadow 1s ease-in-out, color 1s ease-in-out;
  transition: opacity 1s ease-in-out, text-shadow 1s ease-in-out, color 1s ease-in-out;
  color: transparent;
  opacity: 0.95;
  text-shadow: 0 0 1.5px #fff;
  font-size: 16px;
  font-weight: bold;
  margin-right: 60px;
  line-height: 157px; }
  .num:hover {
    opacity: 1; }

/*CONTENT wizard===================================== */
#content-wizard {
  background: #142a28;
  margin-top: 92px;
  height: -webkit-calc(100vh - 92px);
  height: -moz-calc(100vh - 92px);
  height: -o-calc(100vh - 92px);
  height: calc(100vh - 92px); }

.wizard-form {
  min-height: 100%;
  overflow: hidden;
  padding: 50px 90px 71px;
  position: relative; }
  .wizard-form .wizard-form_box {
    padding: 50px 0;
    border-bottom: 2px dotted rgba(255, 255, 255, 0.4);
    text-align: center; }
    .wizard-form .wizard-form_box .wizard-form_box-toggle_wrapper {
      width: 50%;
      float: left;
      border-right: 2px dotted rgba(255, 255, 255, 0.4); }
      .wizard-form .wizard-form_box .wizard-form_box-toggle_wrapper:last-child {
        border-right: none; }
  .wizard-form .wizard-form_title {
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 1.5px #fff;
    border-bottom: 2px dotted rgba(255, 255, 255, 0.4);
    opacity: 0.8;
    font-family: Eksell, Georgia, Times, serif;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    text-align: center; }
  .wizard-form .wizard-form_box-label {
    padding-bottom: 20px; }
  .wizard-form .wizard-form_box-toggle {
    text-align: center; }
    .wizard-form .wizard-form_box-toggle .toggle, .wizard-form .wizard-form_box-toggle .second-toggle {
      height: 24px;
      margin: 0 auto;
      width: 130px; }
      .wizard-form .wizard-form_box-toggle .toggle .toggle-switch, .wizard-form .wizard-form_box-toggle .second-toggle .toggle-switch {
        background-color: rgba(255, 255, 255, 0.8);
        border: 0;
        border-radius: 9px;
        box-shadow: none;
        height: 18px;
        left: 2px;
        right: auto;
        top: 2px;
        width: 45px; }
      .wizard-form .wizard-form_box-toggle .toggle .on.toggle-switch, .wizard-form .wizard-form_box-toggle .second-toggle .on.toggle-switch {
        left: 83px; }
      .wizard-form .wizard-form_box-toggle .toggle .toggle-bg, .wizard-form .wizard-form_box-toggle .second-toggle .toggle-bg {
        background-color: transparent;
        -webkit-border: 1px solid rgba(255, 255, 255, 0.4);
        -moz-border: 1px solid rgba(255, 255, 255, 0.4);
        -o-border: 1px solid rgba(255, 255, 255, 0.4);
        border: 1px solid rgba(255, 255, 255, 0.4);
        height: 22px; }
    .wizard-form .wizard-form_box-toggle .toggle:before, .wizard-form .wizard-form_box-toggle .toggle:after,
    .wizard-form .wizard-form_box-toggle .second-toggle:before, .wizard-form .wizard-form_box-toggle .second-toggle:after {
      content: "";
      position: absolute;
      top: 4px;
      text-transform: uppercase;
      letter-spacing: 3px;
      color: #ffffff;
      font-size: 9px; }
    .wizard-form .wizard-form_box-toggle .toggle:before {
      content: "Marvel";
      left: -60px; }
    .wizard-form .wizard-form_box-toggle .toggle:after {
      content: "DC";
      right: -30px; }
    .wizard-form .wizard-form_box-toggle .second-toggle:before {
      content: "Hero";
      left: -45px; }
    .wizard-form .wizard-form_box-toggle .second-toggle:after {
      content: "Villain";
      right: -65px; }
  .wizard-form .wizard-form_box-range {
    position: relative;
    top: 4px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px; }
  .wizard-form .wizard-form_submit {
    padding: 20px 0;
    text-align: center; }
  .wizard-form input[type="range"] {
    -webkit-appearance: none;
    background: 0 0;
    width: 80%; }
  .wizard-form input[type="range"]::-moz-range-track {
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-radius: 9px;
    -webkit-border: 1px solid rgba(255, 255, 255, 0.4);
    -moz-border: 1px solid rgba(255, 255, 255, 0.4);
    -o-border: 1px solid rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.4); }
  .wizard-form input[type="range"]::-webkit-slider-runnable-track {
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-radius: 9px;
    -webkit-border: 1px solid rgba(255, 255, 255, 0.4);
    -moz-border: 1px solid rgba(255, 255, 255, 0.4);
    -o-border: 1px solid rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.4); }
  .wizard-form input[type="range"]::-ms-track {
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-radius: 9px;
    -webkit-border: 1px solid rgba(255, 255, 255, 0.4);
    -moz-border: 1px solid rgba(255, 255, 255, 0.4);
    -o-border: 1px solid rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.4); }
  .wizard-form input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    margin-top: -4px;
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d; }
  .wizard-form input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px;
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d; }
  .wizard-form input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px;
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d; }
  .wizard-form p {
    color: #fff;
    font-size: 9px;
    letter-spacing: 3px;
    text-transform: uppercase; }

.toggle, .second-toggle {
  height: 25px;
  width: 76px;
  cursor: pointer;
  position: relative; }

.toggle-bg {
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #3f3f3f;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  height: 17px;
  z-index: 1; }

.toggle-switch {
  -webkit-transition: right 0.1s;
  -moz-transition: right 0.1s;
  transition: right 0.1s;
  position: absolute;
  top: -4px;
  right: 50%;
  height: 25px;
  width: 25px;
  background-color: #a6a6a6;
  border-radius: 100%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  z-index: 2; }

.search-result_wizard {
  display: none;
  position: fixed;
  top: 92px;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  background: #142a28;
  z-index: 100;
  padding-top: 20px;
  text-align: center; }
  .search-result_wizard .result {
    padding: 100px 0;
    margin: 30px 0 50px;
    border-top: 2px dotted rgba(255, 255, 255, 0.4);
    border-bottom: 2px dotted rgba(255, 255, 255, 0.4); }
  .search-result_wizard a.link {
    color: transparent;
    font-size: 76px;
    font-weight: bold;
    font-family: Eksell, Georgia, Times, serif;
    opacity: 0.95;
    text-shadow: 0 0 1.5px #ffffff;
    line-height: 1.35;
    text-decoration: none; }
  .search-result_wizard h5 {
    color: transparent;
    font-size: 32px;
    font-weight: bold;
    font-family: Eksell, Georgia, Times, serif;
    opacity: 0.95;
    text-shadow: 0 0 1.5px #ffffff;
    line-height: 1.35;
    padding-top: 30px; }

/*CONTENT map===================================== */
#content-map {
  width: 100%;
  height: -webkit-calc(100vh - 92px);
  height: -moz-calc(100vh - 92px);
  height: -o-calc(100vh - 92px);
  height: calc(100vh - 92px);
  background: #142a28;
  margin-top: 92px; }

.states {
  height: 100%;
  width: 1000px;
  z-index: 99999;
  margin: 0 auto;
  padding-top: 100px; }

.circle, .circle-map {
  position: absolute; }

.circle.circle-big, .circle-map.circle-big, .circle.circle-midle, .circle-map.circle-midle, .circle.circle-small, .circle-map.circle-small {
  position: absolute; }
  .circle.circle-big:before, .circle-map.circle-big:before, .circle.circle-midle:before, .circle-map.circle-midle:before, .circle.circle-small:before, .circle-map.circle-small:before {
    position: absolute;
    content: ""; }

.circle.circle-small, .circle-map.circle-small {
  background-color: #3dd6d3 !important;
  box-shadow: 0 0 10px 6px #3dd6d3 !important; }

.circle.circle-midle, .circle-map.circle-midle {
  background-color: #9bd6b6 !important;
  box-shadow: 0 0 10px 6px #9bd6b6 !important; }

.circle.circle-big, .circle-map.circle-big {
  background-color: #3fc69e !important;
  box-shadow: 0 0 10px 6px #3fc69e !important; }

.circle.circle-big:hover, .circle-map.circle-big:hover, .circle.circle-midle:hover, .circle-map.circle-midle:hover, .circle.circle-small:hover, .circle-map.circle-small:hover {
  width: 60px;
  height: 60px;
  box-shadow: 0 0 20px 12px #3dd6d3 !important; }

.circle.circle-midle:hover, .circle-map.circle-midle:hover {
  box-shadow: 0 0 20px 12px #9bd6b6 !important; }

.circle.circle-big:hover, .circle-map.circle-big:hover {
  box-shadow: 0 0 20px 12px #3fc69e !important; }

p.second-float-message {
  display: none;
  z-index: 999;
  position: absolute;
  color: #ffffff;
  font-size: 16px;
  text-align: right;
  width: 300px;
  top: 0;
  left: 0; }
  p.second-float-message:before {
    content: "";
    position: absolute;
    border-top: 2px dotted rgba(255, 255, 255, 0.4);
    width: 80px;
    top: 5px;
    left: 306px;
    background: transparent; }
  p.second-float-message span {
    font-family: Eksell, Georgia, Times, serif;
    font-weight: bold;
    color: #fff;
    font-size: 34px;
    line-height: 40px; }

p.float-message {
  display: none;
  z-index: 999;
  position: absolute;
  color: #fff;
  font-size: 16px;
  text-align: left;
  top: 0;
  left: 0; }
  p.float-message:before {
    content: "";
    position: absolute;
    border-top: 2px dotted rgba(255, 255, 255, 0.4);
    width: 80px;
    top: 5px;
    left: -90px;
    background: transparent; }
  p.float-message span {
    font-family: Eksell, Georgia, Times, serif;
    font-weight: bold;
    color: #fff;
    font-size: 34px;
    line-height: 40px; }

.dot-line {
  width: 40px;
  height: 2px; }

/*HERO index===================================== */
.border-none {
  border-bottom: none; }

#content-hero {
  width: 100%;
  height: 100%;
  background: #142a28;
  margin-top: 50px;
  position: relative; }

.slide-up_bar {
  line-height: 45px; }
  .slide-up_bar h6 {
    color: #fff;
    margin-left: 75px;
    text-align: center;
    letter-spacing: 3px;
    font-size: 9px;
    text-transform: uppercase; }

.back {
  text-decoration: none;
  line-height: 45px; }
  .back span {
    line-height: 45px;
    display: inline-block; }
  .back span.text {
    color: #fff;
    letter-spacing: 3px;
    font-size: 9px;
    text-transform: uppercase;
    text-decoration: none; }
  .back span.closer {
    height: 45px;
    margin-top: -2px;
    text-align: center; }

.box {
  padding-top: 50px;
  border-top: 2px dotted rgba(255, 255, 255, 0.4); }

.circles {
  list-style: none; }

.circle, .circle-map {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  background-color: #3dd6d3 !important;
  border-radius: 100%;
  box-shadow: 0 0 10px 6px #3dd6d3 !important;
  cursor: pointer;
  display: block;
  opacity: 0.8;
  pointer-events: auto;
  position: absolute;
  z-index: 4;
  width: 20px;
  height: 20px; }
  .circle.circle-small, .circle-map.circle-small {
    width: 20px;
    height: 20px; }
  .circle.circle-midle, .circle-map.circle-midle {
    width: 30px;
    height: 30px; }
  .circle.circle-big, .circle-map.circle-big {
    width: 40px;
    height: 40px; }

.slide-up_content {
  padding: 50px 100px;
  position: relative; }
  .slide-up_content p {
    color: transparent;
    font-size: 36px;
    font-weight: bold;
    font-family: Eksell, Georgia, Times, serif;
    opacity: 0.95;
    text-shadow: 0 0 1.5px #b7b7b7;
    text-align: justify;
    line-height: 1.35;
    padding-top: 30px; }
  .slide-up_content p.number {
    font-size: 130px;
    text-align: center; }
  .slide-up_content h5 {
    color: #fff;
    font-size: 16px;
    text-align: center; }
  .slide-up_content .slide-up_content-name {
    padding-bottom: 130px; }
    .slide-up_content .slide-up_content-name h1 {
      transition: opacity 1s ease-in-out, text-shadow 1s ease-in-out, color 1s ease-in-out;
      color: transparent;
      font-size: 150px;
      font-weight: bold;
      font-family: Eksell, Georgia, Times, serif;
      opacity: 0.95;
      text-shadow: 0 0 1.5px #fff;
      letter-spacing: -2px;
      margin-top: 100px;
      text-transform: capitalize; }
    .slide-up_content .slide-up_content-name h5 {
      padding-top: 20px;
      text-align: left; }
  .slide-up_content .slide-up_content-info {
    margin-top: 20px; }
  .slide-up_content .slide-up_content-info_box {
    width: 45%;
    float: left;
    margin-right: 10%; }
    .slide-up_content .slide-up_content-info_box:last-child {
      margin-right: 0; }
  .slide-up_content .slide-up_content-info_btn {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center; }
    .slide-up_content .slide-up_content-info_btn .slide-up_content-info_box-btn {
      width: 45%;
      float: left;
      margin-right: 10%; }
      .slide-up_content .slide-up_content-info_btn .slide-up_content-info_box-btn:last-child {
        margin-right: 0; }
      .slide-up_content .slide-up_content-info_btn .slide-up_content-info_box-btn a {
        display: inline-block;
        margin: 0 auto; }
  .slide-up_content .slide-up_content-map {
    margin-top: 20px; }
    .slide-up_content .slide-up_content-map .slide-up_content-map_states-info {
      float: left;
      width: 30%; }
      .slide-up_content .slide-up_content-map .slide-up_content-map_states-info .list-states {
        padding-top: 30px; }
        .slide-up_content .slide-up_content-map .slide-up_content-map_states-info .list-states li {
          padding-top: 10px;
          color: transparent;
          font-size: 36px;
          font-weight: bold;
          font-family: Eksell, Georgia, Times, serif;
          opacity: 0.95;
          text-shadow: 0 0 1.5px #b7b7b7;
          text-align: justify;
          line-height: 36px; }
      .slide-up_content .slide-up_content-map .slide-up_content-map_states-info .num {
        margin-right: 20px;
        line-height: 36px; }
    .slide-up_content .slide-up_content-map .slide-up_content-map_states {
      float: left;
      width: 70%; }
      .slide-up_content .slide-up_content-map .slide-up_content-map_states .states-slide-up {
        position: relative;
        margin: 0 auto;
        height: 400px;
        width: 600px; }
  .slide-up_content .slide-up_content-statistic {
    margin-top: 20px; }
  .slide-up_content .slide-up_content-graphic {
    padding-top: 30px;
    width: 100%; }
    .slide-up_content .slide-up_content-graphic .slide-up_content-graphic-box {
      width: 45%;
      margin-right: 10%;
      float: left; }
      .slide-up_content .slide-up_content-graphic .slide-up_content-graphic-box:last-child {
        margin-right: 0; }
    .slide-up_content .slide-up_content-graphic .slide-up_content-graphic-box_center {
      width: 100%; }
      .slide-up_content .slide-up_content-graphic .slide-up_content-graphic-box_center svg {
        width: calc(100% - 100px);
        margin: 0 50px; }
    .slide-up_content .slide-up_content-graphic .line {
      height: 3px;
      width: calc(100% - 100px);
      background: #aeafaf;
      position: relative;
      margin: 0 50px; }
      .slide-up_content .slide-up_content-graphic .line:before, .slide-up_content .slide-up_content-graphic .line:after {
        content: "";
        position: absolute;
        top: -4px;
        font-size: 9px;
        -webkit-transition: opacity 1s ease-in-out, text-shadow 1s ease-in-out, color 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out, text-shadow 1s ease-in-out, color 1s ease-in-out;
        transition: opacity 1s ease-in-out, text-shadow 1s ease-in-out, color 1s ease-in-out;
        color: transparent;
        opacity: 0.95;
        text-shadow: 0 0 1.5px #fff;
        font-size: 12px;
        font-weight: bold; }
      .slide-up_content .slide-up_content-graphic .line:before {
        content: "2004";
        left: -50px; }
      .slide-up_content .slide-up_content-graphic .line:after {
        content: "2017";
        right: -50px; }

.progress-bar {
  margin-top: 70px;
  height: 15px;
  width: 100%;
  position: relative; }
  .progress-bar .progress-bar_total, .progress-bar .progress-bar_percentage {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 15px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    float: left; }
  .progress-bar .progress-bar_percentage {
    background-color: rgba(255, 255, 255, 0.6);
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    width: 16%; }
    .progress-bar .progress-bar_percentage:before {
      content: "22%";
      position: absolute;
      top: -25px;
      left: 100px;
      -webkit-transition: opacity 1s ease-in-out, text-shadow 1s ease-in-out, color 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out, text-shadow 1s ease-in-out, color 1s ease-in-out;
      transition: opacity 1s ease-in-out, text-shadow 1s ease-in-out, color 1s ease-in-out;
      color: transparent;
      opacity: 0.95;
      text-shadow: 0 0 1.5px #fff;
      font-size: 16px;
      font-weight: bold; }

/*Batman===================================== */
.las-vegas {
  position: absolute;
  top: 200px;
  left: 95px; }

.las-vegas_map_batman {
  margin-top: 340px;
  margin-left: 155px; }

.circle.las-vegas:hover:before {
  content: "Las Vegas, NV";
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-size: 12px;
  color: #fff;
  top: 12px;
  text-align: center;
  white-space: nowrap; }

.laredo {
  position: relative;
  top: 340px;
  left: 275px; }

.laredo_map_batman {
  margin-top: 555px;
  margin-left: 445px; }

.circle.laredo:hover:before {
  content: "Laredo, TX";
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-size: 12px;
  color: #fff;
  top: 12px;
  text-align: center;
  white-space: nowrap; }

.lexington {
  position: relative;
  top: 183px;
  left: 433px; }

.lexington_map_batman {
  margin-top: 310px;
  margin-left: 710px; }

.circle.lexington:hover:before {
  content: "Lexington, KY";
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-size: 12px;
  color: #fff;
  top: 12px;
  text-align: center;
  white-space: nowrap; }

/*Spider-Man===================================== */
.terre-haute {
  position: relative;
  top: 165px;
  left: 400px; }

.terre-haute_map_spiderman {
  margin-top: 280px;
  margin-left: 670px; }

.circle.terre-haute:hover:before {
  content: "Terre Haute, IN";
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-size: 12px;
  color: #fff;
  top: 12px;
  text-align: center;
  white-space: nowrap; }

.bluefield {
  position: relative;
  top: 180px;
  left: 475px; }

.bluefield_map_spiderman {
  margin-top: 300px;
  margin-left: 786px; }

.circle.bluefield:hover:before {
  content: "Bluefield, WV";
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-size: 12px;
  color: #fff;
  top: 12px;
  text-align: center;
  white-space: nowrap; }

.philadelphia {
  position: relative;
  top: 140px;
  left: 535px; }

.philadelphia_map_spiderman {
  margin-top: 230px;
  margin-left: 890px; }

.circle.philadelphia:hover:before {
  content: "Philadelphia, PA";
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-size: 12px;
  color: #fff;
  top: 12px;
  text-align: center;
  white-space: nowrap; }

/*C.America===================================== */
.salt-lake-city {
  position: relative;
  top: 140px;
  left: 145px; }

.salt-lake-city_map_camerica {
  margin-top: 235px;
  margin-left: 250px; }

.circle.salt-lake-city:hover:before {
  content: "Salt Lake City, UT";
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-size: 12px;
  color: #fff;
  top: 12px;
  text-align: center;
  white-space: nowrap; }

.idaho-falls {
  position: relative;
  top: 100px;
  left: 145px; }

.idaho-falls_map_camerica {
  margin-top: 170px;
  margin-left: 245px; }

.circle.idaho-falls:hover:before {
  content: "Idaho Falls, ID";
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-size: 12px;
  color: #fff;
  top: 12px;
  text-align: center;
  white-space: nowrap; }

.las-vegas {
  position: relative;
  top: 200px;
  left: 95px; }

.las-vegas_map_camerica {
  margin-top: 330px;
  margin-left: 165px; }

.circle.las-vegas:hover:before {
  content: "Las Vegas, NV";
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-size: 12px;
  color: #fff;
  top: 12px;
  text-align: center;
  white-space: nowrap; }

/*Superman===================================== */
.harlingen {
  position: relative;
  top: 335px;
  left: 280px; }

.harlingen_map_superman {
  margin-top: 575px;
  margin-left: 465px; }

.circle.harlingen:hover:before {
  content: "Harlingen, TX";
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-size: 12px;
  color: #fff;
  top: 12px;
  text-align: center;
  white-space: nowrap; }

.jonesboro {
  position: relative;
  top: 220px;
  left: 365px; }

.jonesboro_map_superman {
  margin-top: 360px;
  margin-left: 600px; }

.circle.jonesboro:hover:before {
  content: "Jonesboro, AR";
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-size: 12px;
  color: #fff;
  top: 12px;
  text-align: center;
  white-space: nowrap; }

.utica {
  position: relative;
  top: 90px;
  left: 510px; }

.utica_map_superman {
  margin-top: 160px;
  margin-left: 840px; }

.circle.utica:hover:before {
  content: "Utica, NY";
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-size: 12px;
  color: #fff;
  top: 12px;
  text-align: center;
  white-space: nowrap; }

/*TheFlash===================================== */
.jonesboro {
  position: relative;
  top: 220px;
  left: 365px; }

.jonesboro_map_flash {
  margin-top: 375px;
  margin-left: 615px; }

.circle.jonesboro:hover:before {
  content: "Jonesboro, AR";
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-size: 12px;
  color: #fff;
  top: 12px;
  text-align: center;
  white-space: nowrap; }

.clarksburg {
  position: relative;
  top: 165px;
  left: 480px; }

.clarksburg_map_flash {
  margin-top: 285px;
  margin-left: 800px; }

.circle.clarksburg:hover:before {
  content: "Clarksburg, WV";
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-size: 12px;
  color: #fff;
  top: 12px;
  text-align: center;
  white-space: nowrap; }

.panama-city {
  position: relative;
  top: 291px;
  left: 450px; }

.panama-city_map_flash {
  margin-top: 480px;
  margin-left: 745px; }

.circle.panama-city:hover:before {
  content: "Panama City, FL";
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-size: 12px;
  color: #fff;
  top: 12px;
  text-align: center;
  white-space: nowrap; }

/*KEYFRAMES===================================== */
/* index -------------------------- */
.index.ng-leave {
  -webkit-animation: slideOutLeft 0.5s both ease-in;
  -moz-animation: slideOutLeft 0.5s both ease-in;
  animation: slideOutLeft 0.5s both ease-in; }

.index.ng-enter {
  -webkit-animation: slideInRight 0.5s both ease-in;
  -moz-animation: slideInRight 0.5s both ease-in;
  animation: slideInRight 0.5s both ease-in; }

/* wizard ------------------------ */
.wizart.ng-leave {
  -webkit-animation: slideOutLeft 0.5s both ease-in;
  -moz-animation: slideOutLeft 0.5s both ease-in;
  animation: slideOutLeft 0.5s both ease-in; }

.wizart.ng-enter {
  -webkit-animation: slideInRight 0.5s both ease-in;
  -moz-animation: slideInRight 0.5s both ease-in;
  animation: slideInRight 0.5s both ease-in; }

/* map ---------------------- */
.map.ng-leave {
  -webkit-animation: slideOutLeft 0.5s both ease-in;
  -moz-animation: slideOutLeft 0.5s both ease-in;
  animation: slideOutLeft 0.5s both ease-in; }

.map.ng-enter {
  -webkit-animation: slideInRight 0.5s both ease-in;
  -moz-animation: slideInRight 0.5s both ease-in;
  animation: slideInRight 0.5s both ease-in; }

/* slide in from the right */
@keyframes slideInRight {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0); } }
@-moz-keyframes slideInRight {
  from {
    -moz-transform: translateX(100%); }
  to {
    -moz-transform: translateX(0); } }
@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translateX(100%); }
  to {
    -webkit-transform: translateX(0); } }
@keyframes slideOutLeft {
  to {
    transform: translateX(-100%); } }
@-moz-keyframes slideOutLeft {
  to {
    -moz-transform: translateX(-100%); } }
@-webkit-keyframes slideOutLeft {
  to {
    -webkit-transform: translateX(-100%); } }
@-webkit-keyframes grain {
  0%,100% {
    -webkit-transform: translate(0, 0); }
  10% {
    -webkit-transform: translate(-1%, -1%); }
  20% {
    -webkit-transform: translate(1%, 1%); }
  30% {
    -webkit-transform: translate(-2%, -2%); }
  40% {
    -webkit-transform: translate(3%, 3%); }
  50%,90% {
    -webkit-transform: translate(-3%, -3%); }
  60% {
    -webkit-transform: translate(4%, 4%); }
  70% {
    -webkit-transform: translate(-4%, -4%); }
  80% {
    -webkit-transform: translate(2%, 2%); } }
@-moz-keyframes grain {
  0%,100% {
    -moz-transform: translate(0, 0); }
  10% {
    -moz-transform: translate(-1%, -1%); }
  20% {
    -moz-transform: translate(1%, 1%); }
  30% {
    -moz-transform: translate(-2%, -2%); }
  40% {
    -moz-transform: translate(3%, 3%); }
  50%,90% {
    -moz-transform: translate(-3%, -3%); }
  60% {
    -moz-transform: translate(4%, 4%); }
  70% {
    -moz-transform: translate(-4%, -4%); }
  80% {
    -moz-transform: translate(2%, 2%); } }
@keyframes grain {
  0%,100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  10% {
    -webkit-transform: translate(-1%, -1%);
    -moz-transform: translate(-1%, -1%);
    -ms-transform: translate(-1%, -1%);
    -o-transform: translate(-1%, -1%);
    transform: translate(-1%, -1%); }
  20% {
    -webkit-transform: translate(1%, 1%);
    -moz-transform: translate(1%, 1%);
    -ms-transform: translate(1%, 1%);
    -o-transform: translate(1%, 1%);
    transform: translate(1%, 1%); }
  30% {
    -webkit-transform: translate(-2%, -2%);
    -moz-transform: translate(-2%, -2%);
    -ms-transform: translate(-2%, -2%);
    -o-transform: translate(-2%, -2%);
    transform: translate(-2%, -2%); }
  40% {
    -webkit-transform: translate(3%, 3%);
    -moz-transform: translate(3%, 3%);
    -ms-transform: translate(3%, 3%);
    -o-transform: translate(3%, 3%);
    transform: translate(3%, 3%); }
  50%,90% {
    -webkit-transform: translate(-3%, -3%);
    -moz-transform: translate(-3%, -3%);
    -ms-transform: translate(-3%, -3%);
    -o-transform: translate(-3%, -3%);
    transform: translate(-3%, -3%); }
  60% {
    -webkit-transform: translate(4%, 4%);
    -moz-transform: translate(4%, 4%);
    -ms-transform: translate(4%, 4%);
    -o-transform: translate(4%, 4%);
    transform: translate(4%, 4%); }
  70% {
    -webkit-transform: translate(-4%, -4%);
    -moz-transform: translate(-4%, -4%);
    -ms-transform: translate(-4%, -4%);
    -o-transform: translate(-4%, -4%);
    transform: translate(-4%, -4%); }
  80% {
    -webkit-transform: translate(2%, 2%);
    -moz-transform: translate(2%, 2%);
    -ms-transform: translate(2%, 2%);
    -o-transform: translate(2%, 2%);
    transform: translate(2%, 2%); } }

/*# sourceMappingURL=style.css.map */
